{% extends 'editor_base.html' %}
{% block title %}OPENPAI{% endblock %}
{% block content %}
    <div class="container-fluid">
            <!-- <h1>查看系统中的训练任务jobs</h1> -->
            
            <div class="row">
                <div class="col   ">
                        <div class="header">
                        <span class="text-center ">
                                <h4>STEP4：查看系统中正在运行的任务</h4>
                        </span>
                        </div>
                                
                </div>
        
                <div class="w-100"></div>
                        
                <div class="col   ">
                        <p class="text-break  ">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"您在这里可以查看提交过的任务，并进行管理。"
                        </p>
                </div>
        
                <div class="w-100"></div>
                <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="http://10.212.47.201/view.html" allowfullscreen></iframe>       
                </div>
                        
                
                        </div>
                                

    </div>
{% endblock %}